.overlay-container {
    position: relative;
}
.overlay-container > img {
    width: 100%;
}
.overlay-container > .overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
}