/* @font-face {
  font-family: melona;
  src: url("./assets/fonts/BinggraeMelona.ttf") format("truetype");
} */


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar * {
  text-transform: none !important;
}

.label-with-dashline {
  display: flex;
  align-items: center;
  justify-content: start;
}
.label-with-dashline:after {
  content: "";
  flex-grow: 1;
  border: 1px dashed black;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width:576px) {
  .label-with-dashline:after {
    display: none;
  }
}

dl, dd {
  margin: 0;
  padding: 0;
}